body {

    background-color :#EFECEC;
    display: block;
    margin: 0 auto;
    border: 2px;
    border-style: solid;
    border-radius: 1%;
    border-color: #A29D9D;
    max-width: 900px;
    font-family: 'Times New Roman', Times, serif;
}

header {
    margin: 0 auto;
    background-color: #A29D9D;
    text-align : center;
    border-radius: 1%;
}
header p {
    margin: 0;
}
header h1{
    margin:0 0 25px 0;
}
figure{
    float: left;
}
.img-circle{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    border: #9A8181 2px solid;
    
}

.info-table{
    float:left;
    display: table; 
    width: inherit;
    padding: 30px;
}
.info-table-row{
    display: table-row;
}
.info-table-cell{
    float:left;
    display: table-cell;
    padding:1em;
    border:none;
}
#header-nav{
clear: both;
}
.top-nav{

list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #154F50;
}
.top-nav-li{
float: left;
}

#header-nav a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration:none;
}

#header-nav a:hover {
background-color:#0D3535;
}

main{
    background-color:#CCBFBF; 
    padding:1px;
}
.main-sections{
    display: table-cell;
}
footer{
    background-color: yellow;
}
#search {
display:block;
padding:14px 5px;
width:300px;
}

#contact-form {
width:300px;
background:red;
}
#contact-form p {
color:yellow;
}
