body {
    background-color :#EFECEC;
    display: block;
    margin: 0 auto;
    border: 3px;
    border-style: solid;
    border-color: #A29D9D;
    max-width: 900px;
    font-family: 'Times New Roman', Times, serif;
   
}
header {
    margin: 0 auto;
    background-color: #154F50;
    text-align : center;
    color:#F0FFFF;
}
header p {
    margin: 0;
}
header h1{
    margin:0 0 25px 0;
}
figure{
    float: left;
}
#personal p{
    margin: 0;
    
}
.img-circle{
    height: 115px;
    width: 115px;
    border-radius: 50%;
    border: #9A8181 2px solid;
    
}

.info-cell{
    float:left;
    display: table-cell;
    padding:30px;
    border:none;
}

#nav{
clear: both;
}
.top-nav{
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: rgba(21,79,80,0.6);
}

.top-nav-li{
float: left;
}

#nav a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration:none;
}

#nav a:hover {
background-color:#0D3535;
}

#main-container{
    background-color: #DADADA;
}

.main-sections{
    display: bock;
    margin: 5px;
    border: 5px solid white;
    border-radius: 10%;
    background-color: #EFECEC;
    
}
.main-sections ul{
    list-style-type: none;
}
.main-sections h2 {
    text-decoration: underline;
}
.main-sections details{
    padding: 0px 0px 10px 0px;
}
#Education, #Skills{
   clear:both;  
   float: left;
   width: 38%; 
   padding: 0px 40px 0px 40px;
}
#Employment, #Languages {
    float: right;
    width: 38%;
    padding: 0px 40px 0px 40px;
}
#Languages li, #Skills li{
  padding:  0px 0px 5px 0px;  
}

footer{
    clear:both;
    background-color: rgba(21,79,80,0.6);
    text-align: center;
    padding: 0px 0px 1px 0px;
    
}
footer p {
    margin: 5px;
}
#search {
display:block;
padding:14px 5px;
width:300px;
}

#contact-form {
margin: 0 auto;
width:500px;
background:#EFECEC;
padding: 5px;
border: 3px solid #9A8181;
border-radius: 15%
}
#contact-form p {
color: black;
}

#contact .left
{
    float:left;
}

#contact label{
    display: block;
}

@media print{
     *{
         color: black;
     }
     nav{
         display: none;
     }
     #personal{
         float: left;
     }
     #sections details
     {
         display: list-item;
     }
     #sections section {
         clear: both;
         display: block;
         float: left;
         
         
     }
     
     
}