body {
   
    background-color :#ccc;
    display: block;
    margin: 0 auto;
    border: 2px solid;
    max-width: 900px;
    font-family: 'Times New Roman', Times, serif;
}

header {
    margin: 0 auto;
    background-color: #ddd;
    text-align : center;
}
 header p {
    margin: 0;
}
header h1{
    margin:0 0 25px 0;
}

/*#header-info p {
    color :blue;
    text-align:center;

}*/
#contact-from {
    width:300px;
    background:red;
}
    #contact-from p {
        color:yellow;
    }
   
     #navigation{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #154F50;
    }
    
     #navigation li {
    float:left;
    
    }

    #navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
    }

    #navigation li a:hover {
        background-color:black;
    }
    #search {
        display:block;
        padding:14px 5px;
        width:300px;
    }
